[Unit]
Description=Tractive night light
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=__USER__
WorkingDirectory=__PROJECT_DIR__
EnvironmentFile=__PROJECT_DIR__/.env
ExecStart=__PROJECT_DIR__/.venv/bin/entrypoint
Restart=always
RestartSec=30

# Durcissement minimal
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=read-only
ReadWritePaths=__PROJECT_DIR__

[Install]
WantedBy=multi-user.target
